# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives: 
Python, R and RStudio, SQL, C++

Some of the popular languages that Data Scientists use are:

1-Python <br>
2-R and R Studio <br>
3-QL <br>
4-C++ <br>

Some of the commonly used libraries used by Data Scientists include:

1-Pandas <br>
2-Numpy <br>
3-Matplotlib <br>
4-ggplot
5-plotly <br>
6-lattice <br>
7-caret <br>
8-TensorFlow <br>

| Data Science Tools |
| --- |
| Python |
| R |
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [5]:
200/60

3.3333333333333335

## Author : Mustafa.